# Python
__pycache__/
*.py[cod]

# Ambientes virtuais
venv/
.venv/
env/

# PyInstaller
build/
dist/

# Arquivos temporários
*.tmp
*.temp

# Logs gerados
*.log

# Planilhas de log geradas
*.xlsx

# Configurações locais do VS Code
.vscode/

# Arquivos do sistema
Thumbs.db
.DS_Store
# Arquivos específicos do projeto
info.txt
EBO_Device_Simulator.spec
DH.xml
CAQ.xml
DDC 52 53 54 E 56 BKP EM INGLES.xml